In [11]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark import sql
from pyspark.sql import SparkSession, Row
from datetime import datetime
sc = SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-1-fe1e1f30d1c1>:6

In [12]:
rdd = sc.textFile('/storage/archive/finance-data/currency/Tick/DAT_ASCII_EURUSD_T_2018.csv')
def parseTime(dateStr):
    pattern = '%Y%m%d %H%M%S%f'
    return datetime.strptime(dateStr, pattern)

def parseLine(line):
    parts = line.split(",")
    time=parseTime(parts[0])
    time_m = time.replace(second=0,microsecond=0)
    return Row(time_m=time_m, time=parseTime(parts[0]),ask = parts[1], bid =parts[2])

rdd = rdd.map(lambda line: parseLine(line))

In [13]:
spark = SparkSession(sc)
hasattr(rdd, "toDF")
df = rdd.toDF()
df.limit(10000).createOrReplaceTempView("ticks_cut")
df.createOrReplaceTempView("ticks")

In [16]:
sqlDF = spark.sql("SELECT time_m, sum(bid + ask)/2 FROM ticks_cut group by time_m limit 10")
sqlDF.show()

+-------------------+----------------------------------------------------------------------+
|             time_m|(sum((CAST(bid AS DOUBLE) + CAST(ask AS DOUBLE))) / CAST(2 AS DOUBLE))|
+-------------------+----------------------------------------------------------------------+
|2018-01-01 17:00:00|                                                    2.4018699999999997|
|2018-01-01 17:01:00|                                                             10.806315|
|2018-01-01 17:02:00|                                                    2.4012800000000003|
|2018-01-01 17:03:00|                                                     9.605430000000002|
|2018-01-01 17:04:00|                                                               3.60218|
|2018-01-01 17:05:00|                                                    2.4014800000000003|
|2018-01-01 17:06:00|                                                    21.611739999999998|
|2018-01-01 17:07:00|                                                    15.607685000000002|
|2018-01-01 17:08:00|                                                     9.606774999999999|
|2018-01-01 17:09:00|                                                    18.015790000000003|
+-------------------+----------------------------------------------------------------------+

In [5]:
dir(df)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collectAsArrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_sort_cols',
 '_support_repr_html',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'intersect',
 'intersectAll',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'na',
 'orderBy',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'show',
 'sort',
 'sortWithinPartitions',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'take',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withWatermark',
 'write',
 'writeStream']