In [18]:
#import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline 
plt.rcParams['figure.figsize'] = [15, 5]

%load_ext autoreload
%autoreload 2
%run '../../main.py'

dataSetOps = DataSetOps()
dataSetOps.import_tick_data_set('/storage/archive/finance-data/currency/Tick/DAT_ASCII_EURUSD_T_2018.csv')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

KeyboardInterrupt:

In [29]:
from datetime import datetime
def parseTime(strx):
    pattern = '%Y%m%d %H%M%S%f'
    return datetime.strptime(strx, pattern)

In [30]:
data['time'] = data['time_str'].map(parseTime)

In [31]:
data

                    time_str      bid      ask                    time
0         20180101 170015870  1.20100  1.20150 2018-01-01 17:00:15.870
1         20180101 170111367  1.20083  1.20133 2018-01-01 17:01:11.367
2         20180101 170112367  1.20095  1.20120 2018-01-01 17:01:12.367
3         20180101 170132117  1.20075  1.20125 2018-01-01 17:01:32.117
4         20180101 170132367  1.20035  1.20085 2018-01-01 17:01:32.367
5         20180101 170132617  1.20033  1.20083 2018-01-01 17:01:32.617
6         20180101 170133367  1.20026  1.20076 2018-01-01 17:01:33.367
7         20180101 170150867  1.20025  1.20075 2018-01-01 17:01:50.867
8         20180101 170151117  1.20017  1.20067 2018-01-01 17:01:51.117
9         20180101 170159117  1.20030  1.20080 2018-01-01 17:01:59.117
10        20180101 170247367  1.20035  1.20085 2018-01-01 17:02:47.367
11        20180101 170256867  1.20043  1.20093 2018-01-01 17:02:56.867
12        20180101 170317367  1.20041  1.20091 2018-01-01 17:03:17.367
13        20180101 170327367  1.20043  1.20093 2018-01-01 17:03:27.367
14        20180101 170344117  1.20041  1.20091 2018-01-01 17:03:44.117
15        20180101 170345117  1.20031  1.20081 2018-01-01 17:03:45.117
16        20180101 170347617  1.20043  1.20093 2018-01-01 17:03:47.617
17        20180101 170347867  1.20050  1.20100 2018-01-01 17:03:47.867
18        20180101 170351367  1.20048  1.20098 2018-01-01 17:03:51.367
19        20180101 170358117  1.20046  1.20096 2018-01-01 17:03:58.117
20        20180101 170404367  1.20049  1.20099 2018-01-01 17:04:04.367
21        20180101 170405117  1.20046  1.20096 2018-01-01 17:04:05.117
22        20180101 170418117  1.20048  1.20098 2018-01-01 17:04:18.117
23        20180101 170541867  1.20050  1.20100 2018-01-01 17:05:41.867
24        20180101 170542117  1.20048  1.20098 2018-01-01 17:05:42.117
25        20180101 170600367  1.20050  1.20100 2018-01-01 17:06:00.367
26        20180101 170600867  1.20043  1.20085 2018-01-01 17:06:00.867
27        20180101 170601367  1.20049  1.20085 2018-01-01 17:06:01.367
28        20180101 170615117  1.20042  1.20083 2018-01-01 17:06:15.117
29        20180101 170615617  1.20044  1.20083 2018-01-01 17:06:15.617
...                      ...      ...      ...                     ...
18393296  20181231 165912098  1.14651  1.14678 2018-12-31 16:59:12.098
18393297  20181231 165912211  1.14652  1.14678 2018-12-31 16:59:12.211
18393298  20181231 165912338  1.14651  1.14677 2018-12-31 16:59:12.338
18393299  20181231 165913474  1.14645  1.14671 2018-12-31 16:59:13.474
18393300  20181231 165914600  1.14640  1.14671 2018-12-31 16:59:14.600
18393301  20181231 165921216  1.14640  1.14670 2018-12-31 16:59:21.216
18393302  20181231 165921267  1.14635  1.14670 2018-12-31 16:59:21.267
18393303  20181231 165921535  1.14636  1.14670 2018-12-31 16:59:21.535
18393304  20181231 165921685  1.14636  1.14671 2018-12-31 16:59:21.685
18393305  20181231 165922001  1.14636  1.14672 2018-12-31 16:59:22.001
18393306  20181231 165922102  1.14637  1.14671 2018-12-31 16:59:22.102
18393307  20181231 165923560  1.14639  1.14669 2018-12-31 16:59:23.560
18393308  20181231 165924402  1.14645  1.14672 2018-12-31 16:59:24.402
18393309  20181231 165929741  1.14646  1.14672 2018-12-31 16:59:29.741
18393310  20181231 165930060  1.14645  1.14672 2018-12-31 16:59:30.060
18393311  20181231 165930323  1.14646  1.14672 2018-12-31 16:59:30.323
18393312  20181231 165931575  1.14645  1.14672 2018-12-31 16:59:31.575
18393313  20181231 165931677  1.14645  1.14671 2018-12-31 16:59:31.677
18393314  20181231 165954946  1.14649  1.14670 2018-12-31 16:59:54.946
18393315  20181231 165956154  1.14648  1.14681 2018-12-31 16:59:56.154
18393316  20181231 165956789  1.14644  1.14681 2018-12-31 16:59:56.789
18393317  20181231 165958084  1.14644  1.14689 2018-12-31 16:59:58.084
18393318  20181231 165958345  1.14644  1.14690 2018-12-31 16:59:58.345
18393319  20181231 165959716  1.14644  1.14688 2018-12-31 16:59:59.716
18393320  20181231 170000046  1.14644  1.14696 2018-12-31 17:00:00.046
18393321  20181231 170000325  1.14639  1.14697 2018-12-31 17:00:00.325
18393322  20181231 170000378  1.14641  1.14697 2018-12-31 17:00:00.378
18393323  20181231 170002145  1.14642  1.14698 2018-12-31 17:00:02.145
18393324  20181231 170002681  1.14627  1.14703 2018-12-31 17:00:02.681
18393325  20181231 170003048  1.14627  1.14711 2018-12-31 17:00:03.048

[18393326 rows x 4 columns]