In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline 
plt.rcParams['figure.figsize'] = [15, 5]

%load_ext autoreload
%autoreload 2
%run '../main.py'
from lib.engine.btengine import BackTestEngine 

dataSetOps = DataSetOps()

mul = 10000

dataSetOps.import_tick_data_set('/media/taleh/TIsStorage/archive/finance-data/currency/Tick/DAT_ASCII_EURUSD_T_201902_cut.csv')
# dataSetOps.df

In [2]:
from lib.engine.btengine import BackTestEngine
from lib.strategy.simple import SimpleStrategy
from lib.algorithm.randoma import RandomAlgorithm
from lib.algorithm.snnalgorithm import SimpleNeuralNetworkAlgorithm

In [3]:
snnAlgo1 = SimpleNeuralNetworkAlgorithm()
strategy1 = SimpleStrategy()
btengine1 = BackTestEngine()
btengine1.init(dataSetOps.df, snnAlgo1, strategy1)

In [4]:
btengine1.run()

historical 2019-02-03 17:00:00 1.145205 3.3 None
historical 2019-02-03 17:01:00 1.145185 2.9 None
historical 2019-02-03 17:02:00 1.14521 2.6 None
historical 2019-02-03 17:03:00 1.14533 2.8 None
historical 2019-02-03 17:04:00 1.145305 3.3 None
historical 2019-02-03 17:05:00 1.14532 1.8 None
historical 2019-02-03 17:06:00 1.145475 0.3 None
historical 2019-02-03 17:07:00 1.14549 0.6 None
historical 2019-02-03 17:08:00 1.145565 0.9 None
historical 2019-02-03 17:09:00 1.14554 0.6 1.1453625
historical 2019-02-03 17:10:00 1.145685 1.5 1.1454105
historical 2019-02-03 17:11:00 1.1457 1.8 1.145462
historical 2019-02-03 17:12:00 1.14562 2.8 1.145503
historical 2019-02-03 17:13:00 1.145615 2.9 1.1455315
historical 2019-02-03 17:14:00 1.145615 2.9 1.1455625
historical 2019-02-03 17:15:00 1.14558 3.0 1.1455885
historical 2019-02-03 17:16:00 1.14559 2.4 1.1456
historical 2019-02-03 17:17:00 1.14558 1.6 1.145609
historical 2019-02-03 17:18:00 1.14556 2.0 1.1456085
historical 2019-02-03 17:19:00 1.145625 2.9 1.145617
historical 2019-02-03 17:20:00 1.145615 2.7 1.14561
historical 2019-02-03 17:21:00 1.145405 2.1 1.1455805
historical 2019-02-03 17:22:00 1.14544 3.4 1.1455625
historical 2019-02-03 17:23:00 1.14546 3.6 1.145547
historical 2019-02-03 17:24:00 1.14551 3.6 1.1455365
historical 2019-02-03 17:25:00 1.14553 3.6 1.1455315
historical 2019-02-03 17:26:00 1.14551 3.8 1.1455235
historical 2019-02-03 17:27:00 1.14548 4.2 1.1455135
historical 2019-02-03 17:28:00 1.14548 4.2 1.1455055
historical 2019-02-03 17:29:00 1.145515 4.1 1.1454945
historical 2019-02-03 17:30:00 1.1454 4.0 1.145473

In [5]:
btengine1.report()

''

In [6]:
dfag = snnAlgo1.pdHelper.df[['time_m', 'price', 'spread']].groupby('time_m').first()
dfag.rolling(window=10).mean()
# snnAlgo1.pdHelper.df
# snnAlgo1.dfh

                        price  spread
time_m
2019-02-03 17:00:00       NaN     NaN
2019-02-03 17:01:00       NaN     NaN
2019-02-03 17:02:00       NaN     NaN
2019-02-03 17:03:00       NaN     NaN
2019-02-03 17:04:00       NaN     NaN
2019-02-03 17:05:00       NaN     NaN
2019-02-03 17:06:00       NaN     NaN
2019-02-03 17:07:00       NaN     NaN
2019-02-03 17:08:00       NaN     NaN
2019-02-03 17:09:00  1.145363    1.91
2019-02-03 17:10:00  1.145411    1.73
2019-02-03 17:11:00  1.145462    1.62
2019-02-03 17:12:00  1.145503    1.64
2019-02-03 17:13:00  1.145531    1.65
2019-02-03 17:14:00  1.145562    1.61
2019-02-03 17:15:00  1.145588    1.73
2019-02-03 17:16:00  1.145600    1.94
2019-02-03 17:17:00  1.145609    2.04
2019-02-03 17:18:00  1.145609    2.15
2019-02-03 17:19:00  1.145617    2.38
2019-02-03 17:20:00  1.145610    2.50
2019-02-03 17:21:00  1.145580    2.53
2019-02-03 17:22:00  1.145563    2.59
2019-02-03 17:23:00  1.145547    2.66
2019-02-03 17:24:00  1.145537    2.73
2019-02-03 17:25:00  1.145532    2.79
2019-02-03 17:26:00  1.145523    2.93
2019-02-03 17:27:00  1.145514    3.19
2019-02-03 17:28:00  1.145506    3.41
2019-02-03 17:29:00  1.145495    3.53
2019-02-03 17:30:00  1.145473    3.66

In [7]:
max([1,2,3])

3

In [8]:
a = [1,2,3]
a[len(a)-3:]

[1, 2, 3]