In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline 
plt.rcParams['figure.figsize'] = [15, 5]

import warnings
warnings.filterwarnings('ignore')

In [2]:
%load_ext autoreload
%autoreload 2
%run '../../main.py'


from lib.helper import Functions
from lib.store.influxstore import InfluxStore

In [11]:
dataSetOps = DataSetOps()

dataSetOps.import_data_set('/media/taleh/TIsStorage/archive/finance-data/currency/Historical/EURUSD/DAT_ASCII_EURUSD_M1_201902.csv')
dataSetOps.prepare10Min()

df = dataSetOps.df


dataSetOps2 = DataSetOps()

dataSetOps2.import_tick_data_set('/media/taleh/TIsStorage/archive/finance-data/currency/Tick/DAT_ASCII_EURUSD_T_201902.csv')

tickDf = dataSetOps2.df

In [6]:
df[['min','max','close','amp']].head()

                         min      max    close      amp
time
2019-02-01 00:20:00  1.14399  1.14413  1.14406  0.00039
2019-02-01 00:30:00  1.14374  1.14408  1.14374  0.00065
2019-02-01 00:40:00  1.14343  1.14381  1.14380  0.00038
2019-02-01 00:50:00  1.14343  1.14381  1.14365  0.00030
2019-02-01 01:00:00  1.14351  1.14380  1.14363  0.00033

In [30]:
tickDf.set_index('time')['bid'].resample('10min').ohlc().head()

                        open     high      low    close
time
2019-02-01 00:00:00  1.14421  1.14428  1.14397  1.14403
2019-02-01 00:10:00  1.14402  1.14411  1.14397  1.14410
2019-02-01 00:20:00  1.14412  1.14413  1.14399  1.14406
2019-02-01 00:30:00  1.14408  1.14408  1.14374  1.14374
2019-02-01 00:40:00  1.14376  1.14381  1.14343  1.14380

In [22]:
df[['open', 'max', 'min', 'close']].head()

                        open      max      min    close
time
2019-02-01 00:20:00  1.14412  1.14413  1.14399  1.14406
2019-02-01 00:30:00  1.14408  1.14408  1.14374  1.14374
2019-02-01 00:40:00  1.14376  1.14381  1.14343  1.14380
2019-02-01 00:50:00  1.14380  1.14381  1.14343  1.14365
2019-02-01 01:00:00  1.14367  1.14380  1.14351  1.14363

In [32]:
tickDf

,date,bid,ask,time,price,spread,diff
0,20190201 000000427,1.14421,1.14423,2019-02-01 00:00:00.427,1.144220,0.2,NaN
1,20190201 000002545,1.14420,1.14424,2019-02-01 00:00:02.545,1.144220,0.4,NaN
2,20190201 000002698,1.14422,1.14424,2019-02-01 00:00:02.698,1.144230,0.2,0.000000
3,20190201 000002857,1.14422,1.14426,2019-02-01 00:00:02.857,1.144240,0.4,0.000010
4,20190201 000002960,1.14423,1.14426,2019-02-01 00:00:02.960,1.144245,0.3,0.000010
5,20190201 000003265,1.14422,1.14426,2019-02-01 00:00:03.265,1.144240,0.4,0.000005
6,20190201 000003519,1.14422,1.14426,2019-02-01 00:00:03.519,1.144240,0.4,-0.000005
7,20190201 000005195,1.14422,1.14426,2019-02-01 00:00:05.195,1.144240,0.4,0.000000
8,20190201 000006672,1.14421,1.14425,2019-02-01 00:00:06.672,1.144230,0.4,0.000000
9,20190201 000007037,1.14421,1.14425,2019-02-01 00:00:07.037,1.144230,0.4,-0.000010
10,20190201 000007139,1.14421,1.14425,2019-02-01 00:00:07.139,1.144230,0.4,0.000000
11,20190201 000007644,1.14421,1.14425,2019-02-01 00:00:07.644,1.144230,0.4,0.000000
12,20190201 000007784,1.14421,1.14425,2019-02-01 00:00:07.784,1.144230,0.4,0.000000
13,20190201 000007886,1.14421,1.14425,2019-02-01 00:00:07.886,1.144230,0.4,0.000000
14,20190201 000009071,1.14422,1.14426,2019-02-01 00:00:09.071,1.144240,0.4,0.000000
15,20190201 000009174,1.14423,1.14426,2019-02-01 00:00:09.174,1.144245,0.3,0.000010
16,20190201 000009327,1.14422,1.14426,2019-02-01 00:00:09.327,1.144240,0.4,0.000005
17,20190201 000009379,1.14422,1.14426,2019-02-01 00:00:09.379,1.144240,0.4,-0.000005
18,20190201 000009701,1.14424,1.14426,2019-02-01 00:00:09.701,1.144250,0.2,0.000000
19,20190201 000009803,1.14423,1.14426,2019-02-01 00:00:09.803,1.144245,0.3,0.000010
20,20190201 000011015,1.14423,1.14427,2019-02-01 00:00:11.015,1.144250,0.4,-0.000005
21,20190201 000012017,1.14423,1.14427,2019-02-01 00:00:12.017,1.144250,0.4,0.000005
22,20190201 000012986,1.14424,1.14427,2019-02-01 00:00:12.986,1.144255,0.3,0.000000
23,20190201 000013268,1.14423,1.14427,2019-02-01 00:00:13.268,1.144250,0.4,0.000005
24,20190201 000013465,1.14423,1.14427,2019-02-01 00:00:13.465,1.144250,0.4,-0.000005
25,20190201 000020134,1.14423,1.14427,2019-02-01 00:00:20.134,1.144250,0.4,0.000000
26,20190201 000021141,1.14424,1.14427,2019-02-01 00:00:21.141,1.144255,0.3,0.000000
27,20190201 000022353,1.14423,1.14427,2019-02-01 00:00:22.353,1.144250,0.4,0.000005
28,20190201 000022699,1.14423,1.14427,2019-02-01 00:00:22.699,1.144250,0.4,-0.000005
29,20190201 000023515,1.14426,1.14429,2019-02-01 00:00:23.515,1.144275,0.3,0.000000
...,...,...,...,...,...,...,...
2736559,20190228 235916079,1.13739,1.13743,2019-02-28 23:59:16.079,1.137410,0.4,-0.000005
2736560,20190228 235916283,1.13740,1.13743,2019-02-28 23:59:16.283,1.137415,0.3,0.000000
2736561,20190228 235916521,1.13739,1.13743,2019-02-28 23:59:16.521,1.137410,0.4,0.000005
2736562,20190228 235917557,1.13739,1.13743,2019-02-28 23:59:17.557,1.137410,0.4,-0.000005
2736563,20190228 235919712,1.13739,1.13743,2019-02-28 23:59:19.712,1.137410,0.4,0.000000
2736564,20190228 235920561,1.13739,1.13743,2019-02-28 23:59:20.561,1.137410,0.4,0.000000
2736565,20190228 235920663,1.13740,1.13743,2019-02-28 23:59:20.663,1.137415,0.3,0.000000
2736566,20190228 235923753,1.13739,1.13742,2019-02-28 23:59:23.753,1.137405,0.3,0.000005
2736567,20190228 235927192,1.13740,1.13743,2019-02-28 23:59:27.192,1.137415,0.3,-0.000010
2736568,20190228 235927294,1.13740,1.13743,2019-02-28 23:59:27.294,1.137415,0.3,0.000010
2736569,20190228 235930151,1.13739,1.13743,2019-02-28 23:59:30.151,1.137410,0.4,0.000000
2736570,20190228 235933813,1.13739,1.13742,2019-02-28 23:59:33.813,1.137405,0.3,-0.000005
2736571,20190228 235935145,1.13740,1.13743,2019-02-28 23:59:35.145,1.137415,0.3,-0.000005
2736572,20190228 235935248,1.13740,1.13744,2019-02-28 23:59:35.248,1.137420,0.4,0.000010
2736573,20190228 235938567,1.13740,1.13744,2019-02-28 23:59:38.567,1.137420,0.4,0.000005
2736574,20190228 235940791,1.13740,1.13744,2019-02-28 23:59:40.791,1.137420,0.4,0.000000
2736575,20190228 235944386,1.13739,1.13743,2019-02-28 23:59:44.386,1.137410,0.4,0.000000
2736576,20190228 235944920,1.13739,1.13743,2019-02-28 23:59:44.920,1.137410,0.4,-0.000010
2736577,20190228 235946066,1.13740,1.13743,2019-02-28 23:59:46.066,1.137415,0.3,0.000000
2736578,20190228 235948577,1.13740,1.13744,2019-02-28 23:59:48.577,1.137420,0.4,0.000005
2736579,20190228 235949086,1.13741,1.13744,2019-02-28 23:59:49.086,1.137425,0.3,0.000005
2736580,20190228 235949567,1.13740,1.13744,2019-02-28 23:59:49.567,1.137420,0.4,0.000005
2736581,20190228 235949775,1.13741,1.13744,2019-02-28 23:59:49.775,1.137425,0.3,-0.000005
2736582,20190228 235950019,1.13740,1.13744,2019-02-28 23:59:50.019,1.137420,0.4,0.000005
2736583,20190228 235950617,1.13740,1.13744,2019-02-28 23:59:50.617,1.137420,0.4,-0.000005
2736584,20190228 235950882,1.13740,1.13744,2019-02-28 23:59:50.882,1.137420,0.4,0.000000
2736585,20190228 235951844,1.13740,1.13744,2019-02-28 23:59:51.844,1.137420,0.4,0.000000
2736586,20190228 235952815,1.13740,1.13744,2019-02-28 23:59:52.815,1.137420,0.4,0.000000
2736587,20190228 235957862,1.13739,1.13743,2019-02-28 23:59:57.862,1.137410,0.4,0.000000
2736588,20190228 235959380,1.13739,1.13744,2019-02-28 23:59:59.380,1.137415,0.5,-0.000010