In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline 
plt.rcParams['figure.figsize'] = [15, 5]

import warnings
warnings.filterwarnings('ignore')

In [2]:
%load_ext autoreload
%autoreload 2
%run '../../main.py'


from lib.helper import Functions
from lib.store.influxstore import InfluxStore

In [10]:
dataSetOps = DataSetOps()

dataSetOps.import_data_set('/media/taleh/TIsStorage/archive/finance-data/currency/Historical/EURUSD/DAT_ASCII_EURUSD_M1_201902.csv')
dataSetOps.prepare10Min()

df = dataSetOps.df


dataSetOps2 = DataSetOps()

dataSetOps2.import_tick_data_set('/media/taleh/TIsStorage/archive/finance-data/currency/Tick/DAT_ASCII_EURUSD_T_201902.csv')

tickDf = dataSetOps2.df

In [6]:
df[['min','max','close','amp']].head()

                         min      max    close      amp
time
2019-02-01 00:20:00  1.14399  1.14413  1.14406  0.00039
2019-02-01 00:30:00  1.14374  1.14408  1.14374  0.00065
2019-02-01 00:40:00  1.14343  1.14381  1.14380  0.00038
2019-02-01 00:50:00  1.14343  1.14381  1.14365  0.00030
2019-02-01 01:00:00  1.14351  1.14380  1.14363  0.00033

In [ ]:
tickDf[['min','max','close','amp']].head()